<!DOCTYPE html>
<html>
  <head>
    <title>MyShop - {{product.name}}</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1><a href="/">MyShop</a> - {{product.name}}</h1>
    <h2><a href="/">MyShop</a> - {{product.name}}</h2>
    <h3><a href="/">MyShop</a> - {{product.name}}</h3>

    <ul>
      <li>ID: {{product.id}}</li>
      <li>price: NT$ {{product.price}}</li>
      <li>description: {{product.desc}}</li>
    </ul>

    <ol>
      <li>ID: {{product.id}}</li>
      <li>price: NT$ {{product.price}}</li>
    </ol>

  </body>
</html>